# D208 Performance Assessment Task 2

This is the code for my d208 performance assessment task 2. Student id: 012047746

## A1. Research Question

For this performance assessment, my research question is "What qualitative variables most signficantly contribute to Churn?". This is an important question to ask because understanding what factors contribute to Churn can allow the business to focus on customers that provide higher revenue for the company.

## A2. State Objectives and Goals for Analysis

The goal of this analysis is to gain greater insight into what factors directly correlate with MonthlyCharge. In this analysis, I will be using linear regression modeling. Using linear regression, we can identify what multiple quantitative variables correlate with a single quantitative variable. The objective is to finish this analysis with a list of quantitative variables that signficantly correlate with MonthlyCharge.

## B1. Assumptions

There are four assumptions of a multiple logistic regression model that we should consider. These are: 
- The dependant variable is binary, For example, with churn as my dependent variable, I can only predict a yes or a no with logarithmic regression.
- We have to watch out for multicollinearity. This means that none of the independent variables can be significantly related with one another, or the regression model will be inaccurate
- Logistic regression requires a large sample size to be sufficiently accurate
- The logistic regression requires that the independent variables must be independent of one another. That they have no repeated measurements or shared date.

## B2. Programming Language and Benefits

The programming language that I used for this analysis is Python. Two reasons why I am using this language are:
- I am familiar with the language. I am not as comfortable with using R and understand how to code in Python. This will make the project completion more timely and efficient.
- Access to python libraries that can do multiple linear regression. There are a widespread list of libraries that I can use to finish my analysis for this project. This flexibility assists in timely 

The libraries that I will be using in this analysis are as follows:
- Pandas: This library is essential to import the CSV and apply analysis to the data.
- numpy: We use numpy to use arrays and set up the dataframe to be used for statistical analysis
- scipy.stats: We use scipy for many of the statistical models. For instance using zscores in order to detect outliers
- matplotlib: We use matplotlib for visualization such as histograms
- statsmodels.api: We use statsmodel to run our multiple linear regression model. We also use this for our VIF

### Import Libraries

In [3]:
# import the libraries
import pandas as pd
from pandas import DataFrame
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.compat import lzip
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

## B3. Justification of Using Regression

Logistic regression is an appropriate technique to use for this analysis because the research question focuses on a dependant qualitative variable. In logistic regression, it is important that the dependent variable is a binary qualitative variable. In our research question, we are focusing on churn, which is a binary (Yes or No) variable as our depednent variable. Because churn is the dependent variable, logistic regression must be used. Linear regression would not be usable in this case because that requires a quantiative variable as the dependent variable.

## C1. Data Cleaning

For my data cleaning, I am going to start by focusing on null data, outliers, and duplicates. We can start by importing our data from a CSV. I am also going to drop all the numerical variables since we are only focusing on qualitative variables for this analysis. This means dropping CaseOrder, Population, Children, Age, Income, Outage_sec_perweek, Email, Contacts, Yearly_equip_failure, Tenure, MonthlyCharge, Bandwidth_GB_Year, Item1, Item2, Item3, Item4, Item5, Item6, Item7, and Item8.

In [4]:
df = pd.read_csv('churn_clean.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CaseOrder             10000 non-null  int64
 1   Customer_id           10000 non-null  object
 2   Interaction           10000 non-null  object
 3   UID                   10000 non-null  object
 4   City                  10000 non-null  object
 5   State                 10000 non-null  object
 6   County                10000 non-null  object
 7   Zip                   10000 non-null  int64
 8   Lat                   10000 non-null  float64
 9   Lng                   10000 non-null  float64
 10  Population            10000 non-null  int64
 11  Area                  10000 non-null  object
 12  TimeZone              10000 non-null  object
 13  Job                   10000 non-null  object
 14  Children              10000 non-null  int64
 15  Age                   10000 non-null  int64
 16  Income                10000 non-null  float64
 17  Marital               10000 non-null  object
 18  Gender                10000 non-null  object
 19  Churn                 10000 non-null  object
 20  Outage_sec_perweek    10000 non-null  float64
 21  Email                 10000 non-null  int64
 22  Contacts              10000 non-null  int64
 23  Yearly_equip_failure  10000 non-null  int64
 24  Techie                10000 non-null  object
 25  Contract              10000 non-null  object
 26  Port_modem            10000 non-null  object
 27  Tablet                10000 non-null  object
 28  InternetService       10000 non-null  object
 29  Phone                 10000 non-null  object
 30  Multiple              10000 non-null  object
 31  OnlineSecurity        10000 non-null  object
 32  OnlineBackup          10000 non-null  object
 33  DeviceProtection      10000 non-null  object
 34  TechSupport           10000 non-null  object
 35  StreamingTV           10000 non-null  object
 36  StreamingMovies       10000 non-null  object
 37  PaperlessBilling      10000 non-null  object
 38  PaymentMethod         10000 non-null  object
 39  Tenure                10000 non-null  float64
 40  MonthlyCharge         10000 non-null  float64
 41  Bandwidth_GB_Year     10000 non-null  float64
 42  Item1                 10000 non-null  int64
 43  Item2                 10000 non-null  int64
 44  Item3                 10000 non-null  int64
 45  Item4                 10000 non-null  int64
 46  Item5                 10000 non-null  int64
 47  Item6                 10000 non-null  int64
 48  Item7                 10000 non-null  int64
 49  Item8                 10000 non-null  int64
dtypes: float64(7), int64(16), object(27)
memory usage: 3.8+ MB

In [7]:
dfq = df[['Customer_id','Interaction','UID','City','State','County','Zip','Lat','Lng','Area','TimeZone','Job','Marital','Gender','Churn','Techie','Contract','Port_modem','Tablet','InternetService','Phone','Multiple','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','PaymentMethod']]
dfq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_id       10000 non-null  object
 1   Interaction       10000 non-null  object
 2   UID               10000 non-null  object
 3   City              10000 non-null  object
 4   State             10000 non-null  object
 5   County            10000 non-null  object
 6   Zip               10000 non-null  int64
 7   Lat               10000 non-null  float64
 8   Lng               10000 non-null  float64
 9   Area              10000 non-null  object
 10  TimeZone          10000 non-null  object
 11  Job               10000 non-null  object
 12  Marital           10000 non-null  object
 13  Gender            10000 non-null  object
 14  Churn             10000 non-null  object
 15  Techie            10000 non-null  object
 16  Contract          10000 non-null  object
 17  Port_modem        10000 non-null  object
 18  Tablet            10000 non-null  object
 19  InternetService   10000 non-null  object
 20  Phone             10000 non-null  object
 21  Multiple          10000 non-null  object
 22  OnlineSecurity    10000 non-null  object
 23  OnlineBackup      10000 non-null  object
 24  DeviceProtection  10000 non-null  object
 25  TechSupport       10000 non-null  object
 26  StreamingTV       10000 non-null  object
 27  StreamingMovies   10000 non-null  object
 28  PaperlessBilling  10000 non-null  object
 29  PaymentMethod     10000 non-null  object
dtypes: float64(2), int64(1), object(27)
memory usage: 2.3+ MB

### Treating Nulls

We begin by checking the dataframe for nulls. We can use .isnlull().sum() to look through the variables and see if there is any missing data. Using this function we can see that there are no nulls present in the data.

In [8]:
dfq.isnull().sum()

Customer_id         0
Interaction         0
UID                 0
City                0
State               0
County              0
Zip                 0
Lat                 0
Lng                 0
Area                0
TimeZone            0
Job                 0
Marital             0
Gender              0
Churn               0
Techie              0
Contract            0
Port_modem          0
Tablet              0
InternetService     0
Phone               0
Multiple            0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
PaperlessBilling    0
PaymentMethod       0
dtype: int64

### Finding & Treating Duplicates

Next, we will check to see if there are any duplicates in the data. We can do this by using .duplicated().value_counts() which will output a true or false depending on whether or not duplicates exist within the dataframe. We can see from the output of false 10,000 times that there are no duplicates within the data.

In [9]:
dfq.duplicated().value_counts()

False    10000
dtype: int64

### Finding & Treating Outliers

Because we are not dealing with quantitative variables in this analysis, there are no outliers that we can detect using z-scores.

## C2. Data Exploration (EDA)

To get out summary statistics, we can use the describe function. I use a for loop to run the .describe() function and get summary statistics of all the variables. Its also important to note that all outliers have been removed.

- Customer_id: Its important to note from this that there are 10,000 rows of data and 10,000 unique values. That means every value is unique.
- Interaction: This is the same as Customer_id in that it has all unique values
- UID:  This is another unique id, we should consider dropping the customer_id and interaction since they are effectively the all the same.
- City:  We can see that there  6058 unique cities, the most common city is Houston
- State:  There are 52 unique states. The top one is texas.
- County: There 1620 unique counties. 
- Zip: 
- Lat: 
- Lng:
- Area: There are 3 types of areas.
- TimeZone:  There 25 unique timezones, with the most being in New York timezone
- Job:  There are 629 unique occip
- Marital: Marital has 5 different categories
- Gender: There are 3 gender categories]\
\


- Churn
- Techie
- Contract
- Port_modem
- Tablet
- InternetService
- Phone
- Multiple
- OnlineSecurity
- OnlineBackup
- DeviceProtection
- TechSupport
- StreamingTV
- StreamingMovies
- PaperlessBilling
- PaymentMethod

In [12]:
dfq_c = ['Customer_id','Interaction','UID','City','State','County','Zip','Lat','Lng','Area','TimeZone','Job','Marital','Gender','Churn','Techie','Contract','Port_modem','Tablet','InternetService','Phone','Multiple','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','PaymentMethod']
# run a for loop that goes through and uses .describe()
for column in dfq_c:
    print('Variable: ', column,'\n', dfq[column].describe(),'\n')

Variable:  Customer_id
 count       10000
unique      10000
top       K409198
freq            1
Name: Customer_id, dtype: object

Variable:  Interaction
 count                                    10000
unique                                   10000
top       aa90260b-4141-4a24-8e36-b04ce1f4f77b
freq                                         1
Name: Interaction, dtype: object

Variable:  UID
 count                                10000
unique                               10000
top       e885b299883d4f9fb18e39c75155d990
freq                                     1
Name: UID, dtype: object

Variable:  City
 count       10000
unique       6058
top       Houston
freq           34
Name: City, dtype: object

Variable:  State
 count     10000
unique       52
top          TX
freq        603
Name: State, dtype: object

Variable:  County
 count          10000
unique          1620
top       Washington
freq             111
Name: County, dtype: object

Variable:  Zip
 count    10000.000000
mean     49153.319600
std      27532.196108
min        601.000000
25%      26292.500000
50%      48869.500000
75%      71866.500000
max      99929.000000
Name: Zip, dtype: float64

Variable:  Lat
 count    10000.000000
mean        38.757567
std          5.437389
min         17.966120
25%         35.341828
50%         39.395800
75%         42.106908
max         70.640660
Name: Lat, dtype: float64

Variable:  Lng
 count    10000.000000
mean       -90.782536
std         15.156142
min       -171.688150
25%        -97.082812
50%        -87.918800
75%        -80.088745
max        -65.667850
Name: Lng, dtype: float64

Variable:  Area
 count        10000
unique           3
top       Suburban
freq          3346
Name: Area, dtype: object

Variable:  TimeZone
 count                10000
unique                  25
top       America/New_York
freq                  4072
Name: TimeZone, dtype: object

Variable:  Job
 count                         10000
unique                          639
top       Occupational psychologist
freq                             30
Name: Job, dtype: object

Variable:  Marital
 count        10000
unique           5
top       Divorced
freq          2092
Name: Marital, dtype: object

Variable:  Gender
 count      10000
unique         3
top       Female
freq        5025
Name: Gender, dtype: object

Variable:  Churn
 count     10000
unique        2
top          No
freq       7350
Name: Churn, dtype: object

Variable:  Techie
 count     10000
unique        2
top          No
freq       8321
Name: Techie, dtype: object

Variable:  Contract
 count              10000
unique                 3
top       Month-to-month
freq                5456
Name: Contract, dtype: object

Variable:  Port_modem
 count     10000
unique        2
top          No
freq       5166
Name: Port_modem, dtype: object

Variable:  Tablet
 count     10000
unique        2
top          No
freq       7009
Name: Tablet, dtype: object

Variable:  InternetService
 count           10000
unique              3
top       Fiber Optic
freq             4408
Name: InternetService, dtype: object

Variable:  Phone
 count     10000
unique        2
top         Yes
freq       9067
Name: Phone, dtype: object

Variable:  Multiple
 count     10000
unique        2
top          No
freq       5392
Name: Multiple, dtype: object

Variable:  OnlineSecurity
 count     10000
unique        2
top          No
freq       6424
Name: OnlineSecurity, dtype: object

Variable:  OnlineBackup
 count     10000
unique        2
top          No
freq       5494
Name: OnlineBackup, dtype: object

Variable:  DeviceProtection
 count     10000
unique        2
top          No
freq       5614
Name: DeviceProtection, dtype: object

Variable:  TechSupport
 count     10000
unique        2
top          No
freq       6250
Name: TechSupport, dtype: object

Variable:  StreamingTV
 count     10000
unique        2
top          No
freq       5071
Name: StreamingTV, dtype: object

Variable:  StreamingMovies
 count     10000
unique        2
top          No
freq       5110
Name: StreamingMovies, dtype: object

Variable:  PaperlessBilling
 count     10000
unique        2
top         Yes
freq       5882
Name: PaperlessBilling, dtype: object

Variable:  PaymentMethod
 count                10000
unique                   4
top       Electronic Check
freq                  3398
Name: PaymentMethod, dtype: object